@font-face {
    font-family: "Fira Code Nerd Font Light";
    font-style: normal;
    font-weight: 200;
    src: url('https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Light/complete/Fura%20Code%20Light%20Nerd%20Font%20Complete.ttf') format('truetype');
}
